.card.m-5
  %header.card-header
    %a.card-header-title= post.name
  .card-content
    .content
      = post.content
      <br/>
      - if user_signed_in?
        .tag.is-dark= post.user.username
        -# username olacak o
      - else
        .tag.is-dark 
          It's out secret.  
          <br/>
          = link_to "Join us to see the secretive.", new_user_registration_path, class: "has-text-white is-underlined"
  %footer.card-footer
    - if user_signed_in?
      - liked_before = post.likes.find { |like| like.user_id == current_user.id }
    - else
      - liked_before = nil
    - if liked_before
      %a.card-footer-item
        = button_to post_like_path(post, liked_before), method: :delete, class: "borderless has-text-danger" do
          <i class="fas fa-heart-broken"></i> #{post.likes.count}
    - else
      %a.card-footer-item
        = button_to post_likes_path(post), method: :post, class: "borderless has-text-danger" do
          <i class="fas fa-heart"></i> #{post.likes.count}
    - if current_user == post.user
      %a.card-footer-item
        = button_to post_path(post), method: :delete, class: "borderless" do
          <i class="fas fa-trash"></i>
